@font-face {
    font-family: 'YoungSerif-Regular';
    src: url('./YoungSerif-Regular.ttf');
}

@font-face {
    font-family: 'Outfit-VariableFont_wght';
    src: url('./Outfit-VariableFont_wght.ttf');
}