* {
    margin: 0 auto;
}
h1, h2, h3 {
    font-family: "YoungSerif-Regular";
}
h1, h2 {
    color: rgba(82, 40, 4, 0.726);
}
p, li, .grid {
    font-family: "Outfit-VariableFont_wght";
    color: rgba(43, 42, 42, 0.801);
    font-size: 16px;
}
hr {
    width: 310px;
    color: rgba(128, 128, 128, 0.5);
}
.img1 {
    width: 377px;
}
.all-div {
    align-items: center;
}
.header {
    margin: 30px 30px;
}
.prep {
    width: 325px;
    background: rgba(247, 212, 247, 0.295);
    border-radius: 30px;
}
.prep h3 {
    text-indent: 25px;
    color: purple;
    padding-top: 20px;
}
.prep ul {
    padding-bottom: 25px;
    padding-left: 45px;
}
.prep li {
    line-height: 45px;
    padding-left: 15px;
}
.ingredients {
    margin: 30px 30px;
}
.ingredients ul {
    margin-left: -12px;
}
.ingredients li {
    line-height: 30px;
    padding-left: 15px;
}
.instruction {
    margin: 30px 30px;
}
.instruction ol {
    line-height: 1.7rem;
    margin-left: -12px;
}
.instruction li {
    padding-left: 17px;
}
.nutrition {
    margin: 30px 30px;
}
.nutrition div {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: 4;
    color: rgba(119, 62, 12, 0.726);
    font-weight: 700;
}
@media (min-width: 376px){
    .img {
        text-align: center;
        margin-top: 40px;
    }
    .img1 {
        border-radius: 30px;
        width: 400px;
    }
    .prep {
        width: 400px;
    }
    hr {
        width: 450px;
    }
    .nutrition div {
        margin-left: 30px;
    }
}
@media (min-width: 769px) {
    .img1 {
        width: 900px;
        margin-top: 20px;
    }
    .prep {
        width: 650px;
    }
    .header, .ingredients, .instruction, .nutrition {
        margin: 40px 100px;
    }
}